.style, .style-2{
    background-color:salmon;
}

.style{
    font-family:Verdana, "DejaVu sans", sans-serif;
    
}

#blue{
    color:blue;
    font-size: 36px;
}
.style-2{
    font-family:"Verdana";
    font-size: 24px;
    
}

#green{
    background-color:lightgreen;
    font-size: 24px;
    font-weight:bold;
    
}

#font{
    font-family:"Sofia";
    font-size:36px;
    
}

.border-2{
    border:dotted;
    border-color:red;
    
}

.border{
    font-family:sans-serif;
    border:dotted;
    
}