body {
    color: orangered;
    background-color:cadetblue;
}

h2 {
    color:aqua;
    font-family: "Gill Sans";
    font-size:xx-large;
    font-weight: 900;
    border: ridge;
    border-color: darkred;
    border-block-end-color: green;
    border-right-color: #aa6ac6;
    border-left-color: #c5f47b;
   
}


.alert {
    color: red;
    font-weight: 900;
    font-size: 60px;
}

#para-2 {
    color:green;
    border: dashed;
    border-color:red;
    border-right-color: pink;
    border-left-color: pink;
   
    
}

#para-fin {
    font-family:"Lucida Sans";
    font-size:70px;
}

.fin {
    color:coral
}