body {
    background-color:#ffa1a1;
    font-family: Pacifico;
    font-size: 24px;
    font-weight: lighter;
    color: #0030fd;
    
    
}

.border {
    border: 6px dashed #ffcbef;
    margin: 16px;
    padding: 8px;
    color: white;
    font-size: 20px;
    border-radius: 25px;

}

.border-2{
    border: 2px dashed white;
    margin: 16px;
    padding: 8px;
    color: white;
    font-size: 20px;
    border-radius: 25px;
}

.img{
    width:500px;
    height: 350px;
    border-radius: 25px;
    display:block;
    margin: auto;
}


.content{
    font-family: gidugu, "Gill sans", Sunflower;
    margin: 16px;
    padding: 8px;
    color: white;
    font-size: 20px;
    
    
}

.center{
    text-align: center;
}

#one{
    text-align:center;
    color:#0030fd;
    font-weight: lighter;
    border: 2px solid black;
    border-radius: 10000000px;
    font-size: 20px;
    margin: auto;
    padding: 8px 2px;
    border-color: #ffcbef;
    font-family: Sunflower;
}
