body {
    background-color:#ffa1a1;
    font-family: Pacifico;
    font-size: 35px;
    font-weight: lighter;
    color: #ddd2d2;
    
    
}

.border {
    border: 6px dashed #ffcbef;
    margin: 16px;
    padding: 8px;
    color: white;
    font-size: 20px;
    border-radius: 25px;
    display: block;

}

.border-2{
    border: 2px dashed white;
    margin: 16px;
    padding: 8px;
    color: white;
    font-size: 30px;
    border-radius: 25px;
    
}

.img{
    width:500px;
    height: 350px;
    border-radius: 25px;
    display:block;
    margin: auto;
}


.content{
    font-family: Sunflower;
    margin: 16px;
    padding: 8px;
    color: white;
    font-size: 30px;
    
    
}

.center{
    text-align: center;
}

#one{
    text-align:center;
    color:#0030fd;
    font-weight: lighter;
    border: 3px solid black;
    border-radius: 20px;
    font-size: 35px;
    padding: 2px;
    margin: 1px;
    border-color: #ffcbef;
    font-family: gidugu;
}
